.sidebar {
  width: 220px;
  height: 80vh;
  background-color: rgb(227, 227, 227);
  padding: 50px 20px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0px;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s;
  background-color: transparent;
}
.label-icon {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.menu-item:hover {
  background-color: #d8d8d8;
}

.menu-item.active {
  background-color: transparent;
}

.menu-icon {
  width: 28px;
  height: 28px;
  transition: all 0.3s;
  padding: 8px;
  border-radius: 8px;
  background-color: transparent;
}

.menu-item.active .menu-icon {
  /* background-color: #10b981; */
  filter: brightness(0) invert(1);
  /* background-color: #10b981; */
}
.menu-item.active .item-icon {
  background: radial-gradient(circle, #004f3a 0%, #00f6ff 100%);
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.2);
}
.menu-item.active .label-icon {
  background-color: #ffffff;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.2);
}

.menu-item span {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s;
}

.menu-item.active span {
  color: #333;
}

.divider {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #bfbfbf;
}
