.sidebar {
  width: 220px;
  height: 80vh;
  background-color: #b4b0b0;
  padding: 50px 20px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
}

.menu-item:hover {
  background-color: #d8d8d8;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.divider {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #bfbfbf;
}
